body { padding-left:20px;
padding-right:20px; 
background:#d0d0d0;
}
#loginbox { min-width:300px; }

.dash-right {
  display:flex;
  align-items:center;
  gap:12px;
}
.dash-header {
  display:flex;
  align-items:center;
  border-bottom:2px solid #313131;
  justify-content:space-between;
  
}

.dash-header .dash-user {
  padding-left:8px;
}

.game-row-header {
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    
}

.game-row-header div {
  padding-bottom:8px;
}

.game-row-header div {
    text-align: center;
    flex: 1;
    border-right: 1px solid #444;
    
}

.game-list {
  max-height: 80%;      /* controls scroll height */
  overflow-y: auto;       /* enables vertical scrolling */
  border: 1px solid #181717;
  padding: 10px;
  border-radius: 6px;
  background: #f9f9f9;
  margin-top:20px;
  
}

.game-row {
  display: flex;          /* makes columns sit side-by-side */
  border-bottom: 1px solid #313131;
}
.game-row div {
  padding:8px 0;
}

.game-row:nth-child(2n){
  background: lightgray;
}
.game-row div {
  flex:1;
  border-right: 1px solid #444;
}

.game-row div:last-child,
.game-row-header div:last-child {
    border-right: none;
}


.game-row:last-child {
  border-bottom: none;
}

.game-name {
  font-weight: bold;
  
}

.game-console {
  color: #555;
}

.actions,
.actions-header {
    text-align: center;
}

.edit-icon,
.delete-icon,
.add-icon {
    cursor: pointer;
    font-size: 20px;
    padding: 4px;
}

.edit-icon:hover {
    color: #4caf50;   /* green */
    
}

.delete-icon:hover {
    color: #f44336;   /* red */
    
}

.add-icon:hover {
    color: #2196f3;   /* blue */
}

.xmodal {
    display: none; 
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.xmodal-content {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

