<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="{{url_for('static',filename='js/jquery.js')}}"></script>    
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}">
    </head>

    <body>
        <div class="dash-header">
            <h1>Movies</h1>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-center mb-3 p-2 bg-light border rounded">
         <div class="d-flex flex-column flex-md-row">

           <a class="btn btn-primary btn-space me-2 mb-1 mb-sm-1 mb-md-0" href="/dashboard">Home</a>
           <a class="btn btn-primary btn-space me-2 mb-1 mb-sm-1 mb-md-0" href="/actors?svc=services.dbproc&func=get_actors">Actors</a>
           <a class="btn btn-primary btn-space me-2 mb-1 mb-sm-1 mb-md-0" href="/studios?svc=services.dbproc&func=get_studios">Studios</a>
           <a id="btnbatchload" class="btn btn-primary btn-space me-2 mb-1 mb-sm-1 mb-md-0" onclick="batchLoad()">Batch Load</a>
           
         </div>
        </div>

        <!-- TOOLBAR START -->
         <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2 mb-2 p-2 bg-light border rounded">

            <form class="d-flex flex-grow-1 m-0" method="GET" action="/dashboard?svc=services.dbproc&func=get_movies">
                <input type="hidden" name="svc" value="services.dbproc"> <!-- needed for query string -->
                <input type="hidden" name="func" value="get_movies">

                <div class="input-group w-100">
                    <span class="input-group-text">Search</span>
                    <input type="text" id="searchInput" name="searchInput" class="form-control" placeholder="Movie Name * for Wildcard">
                </div>
                <div class="input-group w-100">
                    <button  type="submit" class="btn btn-primary" id="searchButton">Go</button>
                </div>
            </form>

            <div class="d-flex gap-2">
                <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#addModal">➕ Add Movie</button>
                <a href="/dashboard?svc=services.dbproc&func=get_movies" class="btn btn-secondary" id="resetview">↺ Reset</a>
            </div>

        </div>
        <!-- TOOLBAR END -->


        <div class="data-list">
            <div class="data-row-header">
                <div><a title="Sort By Game" href="/dashboard?sort=name">Title</a></div>
                <div><a title="Sort By Console" href="/dashboard?sort=console">Year</a></div>
                <div class="actions-header">
                    <span title="Add New Movie" class="add-icon" data-bs-toggle="modal" data-bs-target="#addModal">➕</span>
                </div>
            </div>

            
            {% for movie in data %}
               <div class="data-row" id="movie-{{movie.id}}">
                   <div class="movie-title">{{movie.title}}</div>
                   <div class="movie-year">{{movie.year}}</div>
                   <div class="actions">
                       <span data-movieid="{{movie.id}}" 
                             data-movietitle ="{{movie.title}}"
                             data-movieyear = "{{movie.year}}"
                             onclick="openEditModal(this)"
                             class="btn-edit edit-icon" data-bs-toggle="modal" data-bs-target="#editModal">✏️</span>
                       <span data-movieid="{{movie.id}}" 
                             class="delete-icon btn-delete">🗑️</span>
                       {% if movie.user_has %}      
                            <span class="btn-unlink delete-icon" data-movieid="{{movie.id}}">⛓️‍💥</span>
                        {% else %}
                            <span class="btn-link  delete-icon" data-movieid="{{movie.id}}">🔗</span>    
                       {% endif %}
            
                   </div>
               </div>
            {% endfor %}

        </div><!--movie-list-->

    
    <div id="addModal" class="modal fade" tab-index="-1">
       <div class="modal-dialog">
        <div class="modal-content">
           <div class="modal-header">
               <h3>Add Movie</h3>
               <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
           </div>
           <div class="modal-body">
               <div class="mb-3">
                  <label class="form-label">Title</label>
                  <input type="text" class="form-control" id="new-title" name="new-title">
               </div>
               <div class="mb-3">
                  <label class="form-label">Year</label>
                  <input type="number" class="form-control" id="new-year" name="new-year">
               </div>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-primary" id="saveNew">Save</button>
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
           </div>
        </div><!--modal-content-->
       </div><!--modal-dialog-->
    </div> <!--addModal-->

    <div id="editModal" class="modal fade" tab-index="-1">
       <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
               <h3>Edit Movie</h3>
               <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <label class="form-label">Title</label>
                  <input class="form-control" type="text" id="edit-title" name="edit-title">
              </div>
              <div class="mb-3">
                <label class="form-label">Year</label>
                <input class="form-control" type="number" id="edit-year" name="edit-year">
              </div>
          </div><!--modal body-->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="saveEdit">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div><!--modal-footer-->
        </div><!--modal-content-->
       </div><!--modal-dialog-->
    </div><!--editModal-->
    
    <!-- link/unlink functions begin -->
    <script>
      //LINK THE MOVIE TO THE USER
      $(document).on("click",".btn-link",async function() {
         const movieid = this.dataset.movieid;
         console.log(movieid);
         const response = await fetch("/api/movie?svc=api.movie&func=linkUserMovie",{
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body:JSON.stringify({"movieid":movieid})
         });
         responsedata = await response.json();
         if (response.ok && responsedata.status == true) {
             console.log("DEBUG UPDATE TO USE THE UNLINK SYMBOL");
             console.log(this.innerText);
             this.classList.remove("btn-link");
             this.classList.add("btn-unlink");
             this.innerText = "⛓️‍💥";
              //change the current link on the row to the UNLINK
              //remove the class btn-link and add btn-unlink
         }
         else {
             
         }

      });
      //UNLINK THE MOVIE FROM THE USER
      $(document).on("click",".btn-unlink",async function(){
        const movieid = this.dataset.movieid;
        console.log(movieid);

        const response = await fetch("/api/movie?svc=api.movie&func=deleteLinkNoUser", {
                        method:"POST",
                        headers:{"Content-Type":"application/json"},
                        body:JSON.stringify({"movieid":movieid})
                     });

                     responsedata = await response.json();
                     console.log("respondata received");
                     if (response.ok && responsedata.status == true){
                        console.log("response is ok and respondata is true");
                        this.classList.remove("btn-unlink");
                        this.classList.add("btn-link");
                        this.innerText = "🔗";
                        //NEED TO CHANGE THE ICON ON THIS TO THE LINK ICON
                        //remove the class .btn-unlink and add the class .btn-link

                        //ele = document.getElementById("user_movie-" + userid.trim());
                        //if (ele) {
                        //   console.log("DEBUG INSIDE ELE to remove");
                        //    console.log(ele);
                        //    ele.remove();
                        //}
                     }
                     else {
                        console.log("Error occurred during the unlink");
                     }
        //this is where the same code that does the delete for the user_movie record from the dashboard.html happens.
      });
    </script>  
    <!-- link/unlink functions end -->

    <!-- delete functions begin -->
    <script>
        
        $(document).on("click",".btn-delete",async function() {
            const movieid = this.dataset.movieid;    
            console.log(movieid);
            const response = await fetch("api/movie?svc=api.movie&func=deleteMovie",
            {
                method:"POST",
                headers:{"Content-type":"application/json"},
                body:JSON.stringify({"movieid":movieid})
            });
            const responsedata = await response.json();
            console.log(responsedata);
            removeRow(movieid);
        })

        function removeRow(movieid){
            ele = document.getElementById("movie-" + movieid);
            ele.remove();
        }
        
    </script> 
    <!-- end delete functions -->

    <!-- edit functions begin -->
    <script>
        const editModal = document.getElementById("editModal");

        editModal.addEventListener('shown.bs.modal', () => {
                /*
                document.getElementById('edit-title').value = '';
                document.getElementById('edit-year').value = 0;
                */
             });
        editModal.addEventListener('shown.bs.modal', () => {
                document.getElementById('edit-title').focus();
             });

        function openEditModal(ele){
            
            const stitle = ele.dataset.movietitle;
            const iyear = ele.dataset.movieyear;
            const imovieid = ele.dataset.movieid;
            const bsave = document.getElementById("saveEdit");

            bsave.setAttribute("data-movieid",imovieid);
            
            console.log(stitle, iyear, imovieid);
            //set the field values from the ele
            document.getElementById("edit-title").value = stitle;
            document.getElementById("edit-year").value = iyear;
            document.getElementById("edit-title").focus();

        }
        document.getElementById("saveEdit").onclick = async function(){
            const stitle = document.getElementById("edit-title").value;
            const iyear = document.getElementById("edit-year").value;

            //need to set this when the edit is opened becuase there is no
            // dataset value at this point, because this is per row it has
            // to be set on init and on dynamic row adds.
            const iid = document.getElementById("saveEdit").dataset.movieid;

            console.log("The movieid that should be now set on the button:" + iid.toString());

            const response = await fetch("/api/movie?svc=api.movie&func=saveEdit",{
                  method:"POST",
                  headers:{"Content-Type":"application/json"},
                  body:JSON.stringify({"title":stitle,
                                       "year":iyear,
                                       "id":iid
                  })
            });

            const responsedata = await response.json();
            if (response.ok) {
                console.log("edit save is ok");
            }
            else {
                console.log("edit save is not ok");
            }

            const modalEl = document.getElementById("editModal");
            const modal = bootstrap.Modal.getInstance(modalEl);
            const srow = "movie-" + iid;
            console.log("DEBUG");
            console.log(srow);
            gridrow = document.getElementById(srow);
            //movie-title movie-year
            gridrow.querySelector(".movie-title").innerText = stitle;
            gridrow.querySelector(".movie-year").innerText = iyear;
            modal.hide();

            //TO BE DONE!!!!!
            //NEED TO RUN AN UPDATE OF THE ROW RECORD FOR THE NEW VALUES 
            //AND THE EDIT BUTTON DATASET VALUES
        }
    </script>
    <!-- add functions begin -->
    <script>
             <!-- event watchers for add modal -->
             const addModal = document.getElementById('addModal');
             addModal.addEventListener('shown.bs.modal', () => {
                document.getElementById('new-title').value = '';
                document.getElementById('new-year').value = 0;
             });
             addModal.addEventListener('shown.bs.modal', () => {
                document.getElementById('new-title').focus();
                
             });

             document.getElementById("saveNew").onclick = async function() {
                  const stitle = document.getElementById("new-title").value
                  const iyear = document.getElementById("new-year").value

                  const response = await fetch("/api/movie?svc=api.movie&func=addMovie", {
                    method:"POST",
                    headers:{"Content-type":"application/json"},
                    body:JSON.stringify({"title":stitle,"year":iyear })
                  });
                  
                  const movie = await response.json();
                  if (response.ok){
                     console.log(movie);
                     addMovieToGrid(movie);                    
                  }
                  else {
                    console.log("problem with the return response");
                    console.log(response);
                  }
                  

                  const modalEl = document.getElementById("addModal");
                  const modal = bootstrap.Modal.getInstance(modalEl);
                  modal.hide();
             }
             function addMovieToGrid(movie){
                console.log(movie);
                console.log(movie["newrow"]["title"])
                const row = document.createElement("div");
                row.className = "data-row";
                row.id = "movie-" + movie["newrow"]["id"];
                row.innerHTML = `
                       <div class="movie-title">${movie["newrow"]["title"]}</div>
                        <div class="movie-year">${movie["newrow"]["year"]}</div>
                        <div class="actions">
                        <span  data-movieid=${movie["newrow"]["id"]} class="edit-icon btn-edit">✏️</span>
                        <span  data-movieid=${movie["newrow"]["id"]} class="delete-icon btn-delete">🗑️</span>
                        </div>
                `;
                //querySelector selects a single element, first element from the DOM careful!
                document.querySelector(".data-list").appendChild(row);
             }

              
 
    </script> <!-- add functions end -->
    <script> <!-- batch record load functions -->
        async function batchRun() {
              const response = await fetch("/api/movie?svc=api.movie&func=batchLoad",
                {
                    method:"POST",
                    headers:{"Content-Type":"application/json"},
                    body:JSON.stringify({"filename":"somefile"})
                });
               const responsedata = await response.json;
               console.log("finished the batch load faked it.");
               location.reload();
        }

        function batchLoad(){
             batchRun();
             
        }
        
    </script> <!-- end of batch record load functions -->

    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>    
    </body>
</html>